@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --full-height: 100%;
}

html {
  height: var(--full-height);
}

body {
  height: var(--full-height);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #000000 0%, #000821 20%, #030819 27%, #000A2B 37%, #00061A 70%, #000000 100%);
}
